<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Video uploader</title>
	<link href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1>BreizhCamp Video Uploader</h1>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6">
			<h3>Local</h3>
			Répertoire des vidéos : <strong th:text="${videosDir}"></strong>
			<form method="post" th:action="@{/createDir}">
				<button th:if="${!dirExists}" type="submit" class="btn btn-primary" id="createDir">Créer le répertoire</button>
				<button th:if="${dirExists}" type="submit" class="btn btn-default" id="reCreateDir">Recréer les répertoires des sessions</button>
			</form>
			<form method="post" th:action="@{/fixMissingIdsInSchedule}">
				<button th:if="${dirExists}" type="submit" class="btn btn-default" id="fixMissingIds">Corriger les ids manquants dans schedule.json</button>
			</form>
			<form method="post" th:action="@{/generateSchedule}">
				<button th:if="${dirExists}" type="submit" class="btn btn-default" id="exportSchedule">Exporter schedule.json</button>
			</form>
		</div>

		<!-- *******************************************   YOUTUBE   ******************************************************** -->
		<div class="col-md-6">
			<h3>
				YouTube
				<a th:if="${connected}" th:href="@{'/yt/reload'}" title="Recharger les infos de l'utilisateur connecté" class="btn btn-default btn-sm" id="reloadUserData" >
					<span class="glyphicon glyphicon-refresh"></span>
				</a>
			</h3>

			<div th:if="${!connected}">
				<a th:href="@{'/yt/auth'}" id="yt-auth" class="btn btn-primary">S'authentifier sur YouTube</a>
			</div>

			<div th:if="${connected}">
				<div th:if="${ytSession.curChan}" class="media">
					<div class="media-left">
						<img th:src="${ytSession.curChan.snippet.thumbnails.default.url}" style="width: 50px; height: 50px">
					</div>

					<div class="media-body">
						<h4 class="media-heading" th:text="${ytSession.curChan.snippet.title}"></h4>

						<form method="post" th:action="@{/yt/curPlaylist}" class="form-inline" id="form-playlist">
							<div class="form-group">
								<label for="select-playlist">Playlist</label>
								<select id="select-playlist" name="playlist" class="form-control">
									<option value="none">Aucune</option>
									<option th:each="p : ${ytSession.playlistsSorted()}"
											th:value="${p.id}" th:text="${p.snippet.title}"
											th:selected="${ytSession.curPlaylist != null && p.id == ytSession.curPlaylist.id}"></option>
								</select>
							</div>
						</form>
					</div>

					<div class="media-right">
						<p>
							<a th:href="@{'/yt/auth'}" id="yt-auth" class="btn btn-default">
								<span class="glyphicon glyphicon-user"></span> Changer de compte
							</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- *******************************************   VIDEO LIST   ******************************************************** -->
	<div class="row" ng-app="videosApp">
		<div class="col-md-12" ng-controller="VideoListCtrl">
			<h3>Vidéos</h3>
			<table class="table" ng-show="loaded">
				<thead>
				<tr>
					<th>Nom répertoire</th>
					<th style="width: 180px">État</th>
					<th style="width: 50px;">
						<form method="post" th:action="@{/yt/uploadAll}" class="form-inline">
							<button type="submit" class="btn btn-success" title="Tout envoyer">
								<span class="glyphicon glyphicon-cloud-upload"></span>
							</button>
						</form>
					</th>
				</tr>
				</thead>
				<tbody>
				<tr ng-repeat="video in videos">
					<td>{{video.dirName}} <span ng-show="video.thumbnail" class="glyphicon glyphicon-picture"></span></td>
					<td>
						<div ng-switch="video.status">
							<span ng-switch-when="NOT_STARTED">Non démarré</span>
							<span ng-switch-when="WAITING">En attente</span>
							<span ng-switch-when="INITIALIZING">Initialisation</span>

							<div ng-switch-when="IN_PROGRESS" class="progress">
								<div class="progress-bar progress-bar-striped active" role="progressbar"
									 style="min-width: 3em; width: {{video.progression}}%">{{video.progression}}%</div>
							</div>

							<div ng-switch-when="THUMBNAIL" class="progress">
								<div class="progress-bar progress-bar-striped active" role="progressbar" style="width: 100%">Miniature</div>
							</div>

							<span ng-switch-when="DONE">Terminé</span>
							<span ng-switch-when="FAILED">Erreur</span>
						</div>
					</td>
					<td>
						<button type="button" title="Uploader sur YouTube" class="btn btn-upload-video btn-success"
								ng-click="upload(video)" ng-show="video.status == 'NOT_STARTED' || video.status == 'FAILED'" th:if="${connected}">
							<span class="glyphicon glyphicon-cloud-upload"></span>
						</button>

						<a ng-show="video.youtubeId" ng-href="https://www.youtube.com/watch?v={{video.youtubeId}}" class="btn btn-primary" target="_blank">
							<span class="glyphicon glyphicon-film"></span>
						</a>
					</td>
				</tr>

				</tbody>
			</table>
		</div>
	</div>

</div>

<script src="/webjars/jquery/1.11.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
<script src="/webjars/sockjs-client/1.1.2/sockjs.min.js"></script>
<script src="/webjars/stomp-websocket/2.3.3-1/stomp.min.js"></script>
<script src="/webjars/angularjs/1.6.2/angular.min.js"></script>
<script th:src="@{'/js/index.js'}"></script>
</body>
</html>